.manage-schedule-container {
    .manage-schedule-title {
        text-transform: uppercase;
        margin: 15px 0;
        font-weight: 600;
        font-size: 18px;
        text-align: center;
    }

    .pick-hour-container {
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
        margin-top: 30px;

        .btn {
            padding: 5px 10px;
            border: 1px solid grey;
        }
    }

    .btn-schedule {
        margin-top: 40px;

        &.active {
            background-color: #af2b2b;
            color: white;
        }
    }
}