.doctor-schedule-container {
    .all-schedule {
        select {
            border-bottom: 1px solid #ddd;
            border-top: none;
            border-right: none;
            border-left: none;
            cursor: pointer;
            outline: none;
            padding: 10px 0;
            color: #337ab7;

            option {
                cursor: pointer;
            }
        }
    }

    .all-available-time {
        padding-bottom: 30px;

        .text-calendar {
            margin-top: 20px;
            margin-bottom: 20px;

            span {
                text-transform: uppercase;
                font-size: 16px;
                font-weight: 500;

                i {
                    margin-right: 10px;
                    color: #333;
                }
            }
        }

        .time-content {
            .time-content-btn {
                display: flex;
                gap: 15px;
                flex-wrap: wrap;


                button {
                    padding: 8px 12px;
                    border: none;
                    outline: none;
                    background-color: #ffb04f;
                    color: #333;
                    min-width: 120px;
                    border-radius: 3px;

                    &:hover {
                        background-color: #45c3d2;
                        color: white;
                    }
                }

                .no-schedule {
                    font-weight: 500;
                    font-style: italic;

                }
            }

            .book-free {
                margin-top: 30px;
            }

        }
    }
}